{% load static %}
{% load leaflet_tags %}

{% leaflet_js %}
{% leaflet_css %}
<!DOCTYPE html>
<html lang="pt_Br">
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!-- The above 3 meta tags *must* come first in the head; any other head content must come *after* these tags -->
    <meta name="description" content="">
    <meta name="author" content="">
    <link rel="icon" href="../../favicon.ico">

    <title>Fiscaliza</title>

    <!-- Bootstrap core CSS -->
    <link href="http://getbootstrap.com/dist/css/bootstrap.min.css" rel="stylesheet">

    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <link href="http://getbootstrap.com/assets/css/ie10-viewport-bug-workaround.css" rel="stylesheet">

    <!-- Just for debugging purposes. Don't actually copy these 2 lines! -->
    <!--[if lt IE 9]><script src="../../assets/js/ie8-responsive-file-warning.js"></script><![endif]-->
    <script src="http://getbootstrap.com/assets/js/ie-emulation-modes-warning.js"></script>

    <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
    <!--[if lt IE 9]>
      <script src="https://oss.maxcdn.com/html5shiv/3.7.3/html5shiv.min.js"></script>
      <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
    <![endif]-->

    <!-- Custom styles for this template -->
    <link href="http://getbootstrap.com/examples/carousel/carousel.css" rel="stylesheet">

	<style type="text/css">
		html, body, #container /*, and all other map parent selectors*/ {
		  height: 100%;
		  overflow: hidden;
		  width: 100%;
		}
		#fiscaliza {
		 width: auto;
	    height: 1080px;
	    position: absolute;
	    top: 0;
	    bottom: 0;
	    left: 0;
	    right: 0;
	    margin-top: -20px;
        border: 2px dashed black;
		}
	</style>
	<script type="text/javascript" src="{% static 'dist/leaflet.ajax.js' %}"></script>
	<script type="text/javascript" src="{% static 'js/leaflet-color-markers.js' %}"></script>
	<script type="text/javascript" src="{% static 'dist/leaflet.groupedlayercontrol.min.js' %}"></script>
	<script type="text/javascript" src="{% static 'dist/leaflet.groupedlayercontrol.min.js.map' %}"></script>
	<link rel="stylesheet" type="text/css" href="{% static 'dist/leaflet.groupedlayercontrol.min.css' %}">


	<script type="text/javascript">
	function our_layers(map,options){
		var geoPointsUrl = 'http://sued.ddns.net:9000/api/geojson/?format=json';
		var osm = 'http://{s}.tile.openstreetmap.org/{z}{y}{x}.png';

		var greenIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-green.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var blueIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-blue.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var violetIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-violet.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var yellowIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-yellow.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var redtIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-red.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var greytIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-grey.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var blackIcon = new L.Icon({
		  iconUrl: 'https://cdn.rawgit.com/pointhi/leaflet-color-markers/master/img/marker-icon-2x-black.png',
		  shadowUrl: 'https://cdnjs.cloudflare.com/ajax/libs/leaflet/0.7.7/images/marker-shadow.png',
		  iconSize: [25, 41],
		  iconAnchor: [12, 41],
		  popupAnchor: [1, -34],
		  shadowSize: [41, 41]
		});

		var buraco_rua = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Buraco na rua";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(greytIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}
		});

		var iluminacao = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Iluminação";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(yellowIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}
		});

		var lixo_esposto = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Lixo esposto";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(blackIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}

		});

		var mato = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Mato";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(greenIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}

		});

		var entulho = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Entulho na rua/calçada";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(violetIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}

		});

		var sinalizacao = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Sinalização";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(redtIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}

		});

		var esgoto = new L.GeoJSON.AJAX(geoPointsUrl, {
			filter: function(feature, layer) {
				return feature.properties.assunto == "Esgoto exposto";
			},
			onEachFeature: function(feature, layer){
				layer.setIcon(blueIcon);
				layer.bindPopup(feature.properties.assunto.toString());
			}

		});

		buraco_rua.addTo(map);
		iluminacao.addTo(map);
		lixo_esposto.addTo(map);
		mato.addTo(map);
		entulho.addTo(map);
		sinalizacao.addTo(map);
		esgoto.addTo(map);

		var baseLayers = {
			"OSM": osm
		}

		var groupedOverlays = {
		  "Ocorrências": {
		    "Buraco na rua": buraco_rua,
		    "Iluminação": iluminacao,
			"Lixo esposto": lixo_esposto,
			"Mato": mato,
			"Entulho na rua/calçada": entulho,
			"Sinalização": sinalizacao,
			"Esgoto esposto": esgoto,
		  }
		};


		L.control.groupedLayers(null, groupedOverlays, {collapsed:false}).addTo(map);

	}

	</script>
</head>
<!-- NAVBAR
================================================== -->
  <body>

    <div class="navbar-wrapper">
      <div class="container">
        <nav class="navbar navbar-inverse navbar-static-top">
          <div class="container">
            <div class="navbar-header">
              <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#navbar" aria-expanded="false" aria-controls="navbar">
                <span class="sr-only">Toggle navigation</span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
                <span class="icon-bar"></span>
              </button>
              <a class="navbar-brand" href="#">Fiscaliza</a>
            </div>
            <div id="navbar" class="navbar-collapse collapse">
              <ul class="nav navbar-nav">
                <li class="active"><a href="#">Início</a></li>
                <li><a href="#about">Sobre</a></li>
                <li><a href="#contact">Contato</a></li>
                <li class="dropdown">
                  <a href="#" class="dropdown-toggle" data-toggle="dropdown" role="button" aria-haspopup="true" aria-expanded="false">Dropdown <span class="caret"></span></a>
                  <ul class="dropdown-menu">
                    <li><a href="#">Action</a></li>
                    <li><a href="#">Another action</a></li>
                    <li><a href="#">Something else here</a></li>
                    <li role="separator" class="divider"></li>
                    <li class="dropdown-header">Nav header</li>
                    <li><a href="#">Separated link</a></li>
                    <li><a href="#">One more separated link</a></li>
                  </ul>
                </li>
              </ul>
            </div>
          </div>
        </nav>

      </div>
{% leaflet_map "fiscaliza" callback="our_layers" %}
    </div>

    </div><!-- /.container -->


    <!-- Bootstrap core JavaScript
    ================================================== -->
    <!-- Placed at the end of the document so the pages load faster -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <script>window.jQuery || document.write('<script src="../../assets/js/vendor/jquery.min.js"><\/script>')</script>
    <script src="http://getbootstrap.com/dist/js/bootstrap.min.js"></script>
    <!-- Just to make our placeholder images work. Don't actually copy the next line! -->
    <script src="http://getbootstrap.com/assets/js/vendor/holder.min.js"></script>
    <!-- IE10 viewport hack for Surface/desktop Windows 8 bug -->
    <script src="http://getbootstrap.com/assets/js/ie10-viewport-bug-workaround.js"></script>
  </body>
</html>
